<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Estados</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-sm-3">
        <button mat-flat-button color="primary" class="w-100 m-b-4" [matMenuTriggerFor]="aboveMenu">
          Vendido
        </button>
        <mat-menu class="cardWithShadow" #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div class="col-sm-3">
        <button mat-flat-button color="accent" class="w-100 m-b-4" [matMenuTriggerFor]="belowMenu">
          Pausado
        </button>
        <mat-menu class="cardWithShadow" #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div class="col-sm-3">
        <button mat-flat-button color="warn" class="w-100 m-b-4" [matMenuTriggerFor]="beforeMenu">
          Bajas
        </button>
        <mat-menu class="cardWithShadow" #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div class="col-sm-3">
        <button mat-flat-button color="primary" class="w-100 m-b-4" [matMenuTriggerFor]="afterMenu">
          Pendientes
        </button>
        <mat-menu class="cardWithShadow" #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>

